<div class="justify-content-start">
  <div class="background-img" style="height: 80vh; margin-top: -40px; margin-bottom:80px;">
    <main class=" container justify-content-start d-flex" style="padding-top: 250px">
      <div class="col-8">
        <h2 class="landing-head d-flex mt-5 pt-5 ms-5">We taking care</h2> 
        <div class="d-flex ms-5"> 
          <h2 class="landing-head ">while you </h2>
          <h2 class="landing-head primary-color ms-5"> rest!</h2>
        </div>
        <h2 class="landing-text fw-bold ms-5">HoldMyDog is a leading pet <br> caregiver on the market since 2021.</h2>
      </div>
      <% unless current_user %>
      <div class="landing-form">
        <h2 class="primary-color fw-bold fs-2 mb-2">Log in now!</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class: "landing-input" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "landing-input"  %>
          </div>

          <!--
          <% if devise_mapping.rememberable? %>
            <div class="field mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          -->
          <div class="actions d-flex mt-5 align-items-center w-90" >
            <%= f.submit "Sign in" , class: "landing btn fs-4"  %>
           
        <% end %>
         <%= button_to "Sign up", new_user_registration_url, method: :get, class: "landing btn  fs-4" %>

          </div>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "primary-color fs-5 mb-2", style: "position:absolute; margin-top: -65px" %><br />

      <% end %>
      
    </main>
  </div>

  <div class="mb-5 container" style="margin-bottom:100px;">
    <main class=" d-inline ">
      <div class=" mt-5" style=" align-items:center;">
        <h2 class="landing-title primary-color fw-bold mt-5 mb-5" style="text-align:center; top:100px;">Puppy Sitting Services</h2> 
      </div>
      <div class="d-flex mt-5" style="margin-top: 400px; margin-left: 80px;">
        <div class="landing-avatar ms-5" style=" 
        background-image: url(https://www.puppybuddy.com/wp-content/uploads/2019/06/58_IsYourPuppySleepingTooMuch-1.jpg); 
        "> <!-- set user.image--></div>
        <div class="ms-5">
          <p class="ms-5 mt-5 landing-text" style="color: black; width: 600px;">While work and other responsibilities can be a struggle to balance, we are here to make sure the “consistent” part of in-home puppy care happens. <br>
              Our local, puppy sitters can assist you in creating a customized feeding, exercise, and potty schedule that makes sense for both you and your dog.  </p>
        </div>
      </div>
    </main>
  </div>

  <div id="howitwork" class="landing-background ">
    <main class=" container d-inline justify-content-start mt-5 h-100">
      <div class="  mt-5"  style="top: 150px; align-items:center;">
        <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white;text-align:center; margin-left: 0 ">How it works?</h2> 
      </div>
      <div class="d-flex mt-5 container " style="margin-top: 400px;">
        <div class="col-4" >
          <span class=" glyphicon glyphicon-search icon-white" style="padding-left:37%"></span> 
          <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white;text-align:center; margin-left: 0 ">Match</h2> 
          <p class="ms-5 mt-5 landing-text" style=" width: 350px;text-align:center;">We match you with an experienced, nearby sitter based on your dog’s breed, your schedule, and your specific needs.</p>
        </div>
        <div class="col-4" > <span class=" glyphicon glyphicon-user icon-white"style="padding-left:37%"></span>
          <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white;text-align:center; margin-left: 0 ">Meet</h2> 
          <p class="ms-5 mt-5 landing-text" style=" width: 350px;text-align:center;">You meet with the puppy sitter virtually or in-person (your choice) to decide if they are right for you.</p>
        </div>
        <div class="col-4" > <span class=" glyphicon glyphicon-thumbs-up icon-white"style="padding-left:37%"></span>
          <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white;text-align:center; margin-left: 0 ">Grow</h2> 
          <p class="ms-5 mt-5 landing-text" style=" width: 350px;text-align:center;">Sit back as your puppy learns and grows with each puppy visit!</p>
        </div>
      </div>
    </main>
  </div>

  <div id="aboutus" class="mb-5 container" style="margin-bottom:100px;">
    <main class=" d-inline ">
      <div class=" mt-5" style=" align-items:center;">
        <h2 class="landing-title primary-color fw-bold mt-5 mb-5" style="text-align:center; top:100px;">About us</h2> 
      </div>
      <div class="d-flex mt-5" style="margin-top: 400px;margin-left: 80px;">
        <div class="mt-5 pt-5">
          <p class="ms-5 mt-5 landing-text" style="color: black; width: 600px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo risus, mattis a neque ac, scelerisque eleifend urna. Nunc congue vulputate augue, sit amet porta lectus elementum sit amet. Vestibulum risus nisl, finibus a feugiat ut, aliquet tincidunt elit. Donec sed aliquam massa.</p>
        </div>
        <div class="landing-avatar me-5 ms-5" style="
        background-image: url(https://mybarbos.com/wp-content/uploads/2018/04/vest-haylend-uayt-terer.jpg); 
        "> </div>
      </div>
    </main>
  </div>

  <div id="contactus" class="landing-background pt-5 pb-5">
    <div class="container " >
      <main class="  d-inline justify-content-start">
        <div class="  mt-5"  style="top: 150px;">
          <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white;text-align:center; margin-left: 0 ">Contact us</h2> 
        </div>
        <div class="d-flex mt-5" style="margin-top: 400px; margin-left: 80px;">
          <div class="mt-5 pt-5">
            <p class="ms-5 mt-5 landing-text" style=" width: 600px;">Main team located in <br> Lviv, Ukraine</p>
            <p class="ms-5 mt-5 landing-text fw-bold" style=" width: 400px;">We don’t have offices and work remotely to spend more time with puppies.</p>
            <p class="ms-5 mt-5 landing-text" style=" width: 600px;">You can reach out to us by emails: <br> help@holdmydog.com <br> support@holdmydog.com</p>
          </div>
          <div class="mt-5 pt-5">
            <h2 class="landing-title primary-color fw-bold mt-5 mb-5 " style="color:white; margin-top: 40px ">Schedule <br> Dog <br> Sitting <br> Now</h2> 
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
