<div class="background-img ">
  <div class="row h-100">
    <div class="col-6"> </div>
    <div class="col-6 align-items-start form-block d-flex">
      <div class="form-block ms-5">
      <%= form_with(model: @pet, url: pet_path) do |f| %>
        <%= f.hidden_field :owner_id, value: current_user.id %>
        <%= f.hidden_field :kind, value: 'dog' %>
          <h2 class="form-header mb-5">Tell us about your pet!</h2>

          <div class="name-gender ">
           <%= f.text_field :name, placeholder: 'Name *', class: 'form-control mt-2' %>
            <%= f.select :gender, ['Male', 'Female'], {}, prompt: 'Select One', class:"form-select mt-4" %>
          </div>

          <div class="size-years mt-4">
            <div class="d-flex mb-3">
              <p class="text pt-2 w-100"> What is his weight?</p>
              <%= f.text_field :weight, placeholder: '0', class: 'form-control' %>
            </div>
            <div class="d-flex mb-3">
              <p class="text pt-2 w-100"> What is his height?</p>
              <%= f.text_field :height, placeholder: '0', class: 'form-control' %>
            </div>
            <div class="d-flex mb-3">
              <p class="text pt-2 w-100"> How old is your pet?</p>
              <%= f.text_field :years, placeholder: '0', class: 'form-control' %>
            </div>
        </div>

         <div class="description mt-4">
          <p class="text pt-2"> What else you wish to tell about your pet?</p>
          <div class="form-group">
          <%= f.text_area :description, rows: 5, placeholder: 'Tell us about your pet ;)', class:"w-100" %>
          </div>
        </div>

        <div>
        <%= f.label "Upload photo of your pet" %>
       <%= f.file_field :photo, class: "mt-4" %>
        <%# <button type="button" class="btn btn-outline-success pet mt-4">Upload photo of your pet</button> %>
        </div>
        <div class="d-flex">
          <%= button_to "Skip this step", location_path, method: :get, class: "btn btn-secondary custom-1 mt-4" %>
          <%= f.submit "Next step", class: "btn btn-outline-success pet mt-4 ms-4" %>
       </div>
        <% end %>
        <div class="notice-pet">
        <p class="fw-bold"> Required fields marked with *</p>
        <p class="">P.S. Don’t be scary to place your real name we protect your <br>
          privacy and aligned with GDPR conventions</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
