<div class="background-img ">
  <div class="row h-100">
    <div class="col-6"></div>
    <div class="col-6 align-items-start form-block d-flex">
      <div class="form-block ms-5">
        <div class="row-11">
        <% if current_user.type == Sitter.name %>
          <h1 class="text-head fw-bold"> Where you can hold a pet? </h1>
        <% else %>
          <h1 class="text-head fw-bold"> Where do you live? </h1>
        <% end %>
         <%= form_with(model: @address, url: location_path) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="lines-input">
          <p class="text"> What is your country?</p>
          <%= f.select :country, ['Ukraine'], {}, prompt: 'Select One', class:"form-select" %>
        </div>
        <div class="lines-input mt-4">
          <p class="text"> What is your address?</p>
          <%= f.select :city, ['Kyiv', 'Kharkiv', 'Zaporizhzhya',
                               'Lviv', 'Mykolayiv', 'Kryvyi Rih',
                               'Vinnytsia', 'Kherson', 'Poltava', 'Chernihiv'], {}, prompt: 'Select One', class:"form-select mt-4" %>
          <%= f.text_field :zipcode, placeholder: 'Zip-code', class: 'form-control mt-3' %>
          <%= f.text_field :address_line1, placeholder: 'Address line #1', class: 'form-control mt-3' %>
          <%= f.text_field :address_line2, placeholder: 'Address line #2', class: 'form-control mt-3' %>
        </div>
          <%= f.submit "Sign up", class: "btn btn-outline-success pet mt-4" %>
        </div>
        <% end %>
        <div class="notice" >
          <p class="text-1 fw-bold">Required fields marked with *</p>
          <p class="">P.S. Don’t be scary to place your real name we protect your <br>
            privacy and aligned with GDPR conventions</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
