<div class="justify-content-start">
  <div class="background-img" style="height: 80vh; margin-top: -40px; margin-bottom:80px;">
    <main class=" container justify-content-start d-flex" style="padding-top: 50px">
      <div class="col-4 align-items-start  form-block-search d-flex rounded-3">
      <div class="container">
          <div class="row g-3 m-3">
                  <h2 class="form-header-search mt-5 fw-bold fs-2">For which period of time you need a sitter?</h2>
                    <%= form_with(url: search_path, method: :get) do |f| %>
                     <%= f.hidden_field :small_type, value: false %>
                     <%= f.hidden_field :medium_type, value: false %>
                     <%= f.hidden_field :large_type, value: false %>
                     <%= f.hidden_field :giant_type, value: false %>
                  <div class="field">
                    <%= f.label :start_at, "Start date*", class: "form-lable fs-3" %>
                    <br>
                    <%= f.date_field :start_at, class: "form-field mb-3" %>
                  </div> 

                  <div class="field">
                    <%= f.label :end_at, "End date*", class: "form-lable fs-3"%>
                    <br>
                    <%= f.date_field :end_at, class: "form-field mb-3" %>
                  </div> 

                    <div class=" d-flex fw-bold w-100" >
                    <%= f.label :city, "Location:", class: "form-lable me-5 fs-3", style: "padding-top: 16px" %>
                     <%= f.select :city, ['Kyiv', 'Kharkiv', 'Zaporizhzhya',
                               'Lviv', 'Mykolayiv', 'Kryvyi Rih',
                               'Vinnytsia', 'Kherson', 'Poltava', 'Chernihiv'], {}, prompt: 'Select One', class:"form-select mt-4" %>
                    </div>

                   <div class="field">
                    <%= f.label :pet_size, "Which kind of pets you can take for sitting?", class: "fw-bold form-lable fs-2" %>
                    <br>
                     <%= f.check_box :small_type, { checked: false }, true, false %> Small(0 - 10kg) <br>
                     <%= f.check_box :medium_type, { checked: false }, true, false %> Medium(11 - 20kg) <br>
                     <%= f.check_box :large_type, { checked: false }, true, false %> Large(21 - 40kg) <br>
                     <%= f.check_box :giant_type, { checked: false }, true, false %> Giant(41kg+)
                  </div>

                  <div class="w-100 mt-1" style="text-align: center;">
                    <%= link_to "Reset", search_path, class: "btn btn-light next-step-btn mt-4 me-5 pt-3",style: "text-decoration: none;" %>                    
                    <%= f.submit "Search", class: "btn btn-light next-step-btn mt-4" %>
                  </div>
              <% end %>
                    
        </div>
      </div>
    </div>
    </main>
  </div>
  </div>

<div class=" container justify-content-start" style="max-width: 1400px;">
  <% @result.each do |availability| %>
    <% profile = Profile.find_by(user_id: availability.sitter_id)%>
    <div class="reviews-container d-flex p-3 h-auto mt-5 ">
      <div class=" d-flex mt-3 w-100">
        <div class="ms-3 user-avatar" style="height: 290px; width: 390px;
        background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*);
        "> <!-- set user.image-->
        </div>
        <div class="ms-5 w-100 me-5">
          <div class="review-header  w-100">
            <div class=" d-flex justify-content-between primary-color title">
                <%= profile.full_name %>
              <p><%= availability.cost%>$/day</p>
            </div>
            <div class="stars fs-3 d-flex">
              <div>
                <% 2.times do %>
                  <span class="gold glyphicon glyphicon-star"></span>
                <% end %>
                <% 3.times do %>
                  <span class="gold glyphicon glyphicon-star-empty"></span>
                <% end %>
              </div>
              <p class="date ms-3 mt-1 fs-4 fw-bold"><%= Comment.where(receiver_id: availability.sitter_id).count%> reviews</p>
            </div>
          </div>
          <div class="review-main">
            <h6 class="fw-bold fs-4">About <%= profile.first_name%>:</h6>
            <p class="description " style="max-width: 88%; min-height: 100px"> <%= profile.description %> </p>
          </div>
          <div class=" d-flex justify-content-between primary-color title">
            <p></p>
            <%= button_to "Choose" , sitter_path(profile) , method: :get, class: "btn custom" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

