<div id="edit_profile" class="hidden position-fixed start-50 w-50 h-100 top-0 form-block d-flex " style="z-index:1;">
  <div class="form-block ">
          <h2 class="form-header">Edit your profile</h2>

     <%= form_with(model: profile, url: update_sitter_path(profile), method: :PUT) do |f| %>
            <div class="field">
             <h1 class="fs-3 fw-bold"> First_name: </h1>
              <%= f.text_field :first_name, placeholder: 'First name *', class: 'form-field mb-3' %>
            </div>


            <div class="field">
              <h1 class="fs-3 fw-bold"> Last_name: </h1>
              <%= f.text_field :last_name, placeholder: 'Last name *', class: 'form-field mb-3' %>
            </div>
            <div class="field">
              <h1 class="fs-3 fw-bold"> Phone: </h1>
              <%= f.text_field :phone, placeholder: 'Phone', class: 'form-field mb-3' %>
            </div>

            <div class="field">
              <h1 class="fs-3 fw-bold"> Description: </h1>
              <%= f.text_area :description, cols: 40, rows: 3, placeholder: 'Tell us about yourself ;)', class:"form-field-textarea mb-3" %>
            </div>
        <div class="d-flex">
          <button type="button" class="btn btn-secondary custom-1 mt-4" onclick="getElementById('edit_profile').style.visibility='hidden'">Cancel</button>
          <%= f.submit "Update", method: :put, class: "btn btn-outline-success pet mt-4 ms-4" %>
       </div>
    <%end%>
  </div>
</div>